.navigator{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top:20px;
    font-family: 'Roboto', sans-serif;
}

.navigator a{
    text-decoration: none;
    padding-inline:10px;
    font-size: 20px;
    font-family:'Helvetica',Arial,sans-serif;
    font-weight: bold;

}

.socials img {
    width: 17px;
    height: 17px;
    transition: transform 0.3s ease, filter 0.3s ease; /* Smooth transition for scale and brightness */
}

.socials a {
    margin-inline: 40px;
    display: inline-block; /* Ensure the anchor tag is suitable for transformation */
}

.socials a:hover img {
    transform: scale(1.5); /* Increase the size of the icon */
    filter: brightness(1.5) invert(1); /* Increase brightness and invert colors */
}

.socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
}


@font-face {
    font-family: 'aurora';
    src: url('fonts/AURORA-PRO.otf') format('opentype');
}

@font-face{
    font-family: 'footic';
    src: url('fonts/Footic-Regular.otf') format('opentype');
}

@font-face{
    font-family: 'Printvetica';
    src: url('fonts/Printvetica.otf') format('opentype');
}
@font-face{
    font-family: 'Harmonia';
    src: url('fonts/Harmonia.ttf') format('opentype');
}
@font-face {
    font-family: 'Futura';
    src: url('fonts/Futura.ttc');
  }
  @font-face {
    font-family: 'Apple-Garamond';
    src: url('fonts/AppleGaramond.ttf');
  }
  @font-face {
    font-family: 'Inter';
    src: url('fonts/Inter.ttf');
  }


.navigator a:hover{
    transform: scale(1.15); /* Slightly increase size */
}


@media (max-width: 600px) {
    .navigator {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
    }
    .navigator a {
        padding-inline: 5px;
        font-size: 16px; /* Adjusted for smaller screens */
    }
    .socials a {
        margin-inline: 20px; /* Adjusted spacing */
    }
    .socials {
        padding-top: 20px; /* Consistent padding from the top */
    }
    .socials img {
        width: 15px; /* Adjusted icon size */
        height: 15px;
    }
}

@media (max-width: 400px) {
    .navigator {
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 5px;
    }
    .navigator a {
        padding-inline: 4px;
        font-size: 10px; /* Further reduced for very small screens */
    }
    .socials a {
        margin-inline: 10px; /* Further adjusted spacing */
    }
    .socials {
        padding-top: 10px; /* Consistent but adjusted padding for very small screens */
    }
    .socials img {
        width: 10px; /* Further reduced icon size */
        height: 10px;
    }
}
