body{
    background-color: #6E0E4B;
}

.navigator a{
    color:blanchedalmond;
    font-family:"Helvetica Neue",Arial,sans-serif;
}

.navigator a:hover{
    color: #2DE3AE;
}

#art-scroller{
    display: flex;
    flex-direction: row;
    align-items:center;
    height:85vh;
}

.art-container img{
    width: 500px;
    height: 500px;
    cursor: pointer;
}

#art-scroller{
position: relative;
animation: moveLeft 600s linear infinite;
}

@keyframes moveLeft {
from {
    left: 0;
}
to {
    left: -1000%; /* Move to the left */
}
}

body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    overflow-x: hidden;
}

#popup {
    width: 400px;
    height: 580px;
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: #333; /* Darker, solid background color for minimalistic look */
    justify-content: center;
    text-align: center;
    z-index: 9;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    border: 2px solid #444; /* Subtle border for a touch of detail */
    border-radius: 15px; /* Rounded corners for a modern look */
    padding: 20px; /* Uniform padding for cleaner layout */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Enhanced shadow for depth */
    color: #EEE; /* Lighter text color for better contrast against the dark background */
}

.stream-link {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #71bdc6; /* More subdued button color for minimalism */
    color: #FFF;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s;
}

.stream-link:hover, .stream-link:focus {
    background-color: #6E0E4B; /* Subtle change on hover for a sleek look */
    transform: translateY(-2px);
    text-decoration: none;
    color: #FFF;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: end;
    height: 0px;
}

.x-btn {
    cursor: pointer;
    font-size: 30px;
    color: #AAA; /* Lighter color for the button for contrast */
    transition: color 0.3s, transform 0.3s; /* Smooth transition for hover effects */
}

.x-btn-container:hover .x-btn{
    color: #FFF; /* Brighter color on hover for visibility */
    transform: rotate(90deg); /* Adds a cool twist effect on hover */
}
.x-btn-container{
    cursor: pointer;
}

#popup > * {
    margin: 10px; /* Increased margin for better spacing */
}

