body {
    background-color: #909998 ;
}


.videos{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    padding-top: 0px;
    transition: padding-top 4s;   
}
.video{
    height: calc(50vw * 9 / 16); /* Half of the viewport width, with a 16:9 ratio */
    width: 50vw;
    margin-bottom: 20px;
}

.video-transition {
    z-index: 3;
    transition: top 4s, width 4s, height 4s;
}

#main-video{
    z-index: 3;
    transform: translateY(-50px);
    transition: transform 9s, width 10s ease, height 10s ease;


}
#main-video.large {
    height: calc(75vw * 9 / 16);
    width: 75vw;
    transition: width 10s ease, height 10s ease; /* Apply transition to width and height */
}

#main-video.small {
    height: calc(20vw * 9 / 16);
    width: 20vw;
    z-index:99;
}


.curtain-layer{
    top: 0;
    left: 0;
    width: 100vw;      /* Full viewport width */
    height: 100vh;
    background-color: #000000;
    z-index: 3;
    position: fixed;
    transition: opacity 10s;
    pointer-events: none;
}

.navigator a{
    color:blanchedalmond;
    font-family:"Helvetica Neue",Arial,sans-serif;
    z-index: 2;
}

.navigator a:hover{
    color: #f5ecde;
}

@media screen and (max-width: 850px) {
    .video{
        height: calc(90vw * 9 / 16); /* Half of the viewport width, with a 16:9 ratio */
        width: 90vw;
    }

}

@media (max-width: 600px){
    #main-video.large {
        height: auto;
        width: auto;
        transition: width 0s ease, height 0s ease; /* Apply transition to width and height */
    }
}



